[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/plugins/zsh-git-prompt"]
	path = zsh/.config/zsh/plugins/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = git@github.com:peterje/kickstart.nvim.git
